@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* popup */
.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 200px;
    background-color: #f8f8f8;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    z-index: 10;
    /* box-shadow: ; */
}
.popup h1 {
    font: bold 27px/1 "돋움";
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.popup p {
    font: normal 18px/1.5 "Arial", "돋움"; 
}
.popup button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: #333;
    padding: 5px 10px;
    color: #eee;
    cursor: pointer;
}

/* header */
header {
    width: 100%;
}
header .inner {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #eee;
    position: relative;
}
header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
#gnb {
    position: absolute;
    top: 30px;
    right: 50px;
    border: 1px solid #000;
    z-index: 10;
}
#gnb > li {
    float: left;
    position: relative;
}
#gnb > li > a {
    display: block;
    width: 150px;
    height: 40px;
    font: bold 14px/40px "돋움";
    color: #555;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
#gnb > li:nth-of-type(4) > a {
    border-right: 0px;
}
#gnb > li > a:hover {
    background-color: #333;
    color: #fff;
}
#gnb > li > a.on {
    background-color: #666;
    color: #fff;
}

.sub > li > a {
    display: block;
    width: 150px; /* #gnb와 같은 width를 가지도록 한다 */
    height: 30px;
    font: bold 12px/30px "돋움";
    color: #777;
    background-color: #fff;
    text-align: center;
}
.sub > li > a:hover {
    background-color: #666;
    color: #fff;
}

/* slider */
#slide {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#slide .frame {
    height: 900px;
    position: relative;
}
/* content box */
#contentBox {
    width: 100%
}
#contentBox .inner {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board {
    flex: 1.5;
    height: 200px;
    overflow: hidden;
}
.board .tab {
    display: flex;
    width: 100%;
    height: 50px;
}
.board .tab li {
    width: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board .tab li a {
    font: bold 15px/1 "Arial";
    color: #fff;
}
/*
.board .tab li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #f8f8f8;
    font-weight: bold;
    border: 1px solid #333;
}
.board .tab li:nth-of-type(1) a {
    border-right: none;
}
*/
.board .tab li.on {
    background-color: #fff;
}
.board .tab li.on a {
    color: #333;
}

.content {
    width: 100%;
    height: 150px;
    position: relative;
    /* calc로 정확한 높이 지정 */
}
.content div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    z-index: 1;
}
.content div.on {
    opacity: 1;
    z-index: 2;
}

#notice {
    justify-content: flex-start;
}
#notice ul {
    width: 100%;
}
#notice ul li {
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#notice ul li:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}
#notice ul li:hover { 
    background-color: #eee;
}
#notice ul li a {
    font: 13px/30px "맑은 고딕";
    color: #333;
    margin-left: 30px;
    cursor: pointer;
}
#notice ul li span {
    font: 10px/30px "Arial";
    color: #333;
    margin-right: 30px;
}
/*
#gallery {
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
*/
/* banner */
.banner {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* quickLink */
.quickLink {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px
}
.quickLink a {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.quickLink a span {
    font-size: 12px;
    text-align: center;
}

/* footer */
footer {
    width: 100%
}
footer .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .inner a .logo {
    display: flex;
    justify-content: center;
    flex: 1.5; 
}
footer .inner .copyright {
    flex: 3;
    text-align: center;
}
footer .inner .copyright span {
    font: bold 12px/1 "Arial";
    color: #333;
}
footer .inner .sns {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}