/* 주석을 최대한 쓰지 않는다 (데이터 소모) */
@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
header > h1 {
    font: bold 30px/1 "Arial";
    position: absolute;
    top: 40px;
    left: 0;
    color: #333;
}
#gnb {
    position: absolute;
    top: 40px;
    right: 0;
}
#gnb > li {
    float: left;
    position: relative;
}
#gnb > li > a {
    display: block;
    width: 200px;
    height: 60px;
    font: bold 14px/60px "Arial";
    color: #555;
    text-align: center;
}
#gnb > li > a:hover {
    background-color: #333;
    color: #fff;
}
#gnb > li > a.on {
    background-color: #333;
    color: #fff;
}
.sub {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
}
.sub > li > a {
    display: block;
    width: 200px;
    height: 50px;
    font: 12px/50px "Arial";
    background-color: #aaa;
    color: #000;
    text-align: center;
}
.sub > li > a:hover {
    background-color: #333;
    color: #fff;
}